{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        You are not eligible for a juggling licence
      </h1>

      <p>To receive a juggling licence you need to be able to juggle three balls or more.</p>

      <p>Try <a href="https://www.oddballs.co.uk/the-encyclopedia-of-ball-juggling-by-charlie-dancey.html">Charlie Dancie's Encyclopedia of Ball Juggling</a> to learn how to juggle with three balls. Then apply for a licence again.</p>

    </div>
  </div>
</main>

{% endblock %}
